<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, et.
        Quam culpa illo tempora quia consequuntur, provident rem, impedit,
        officia ullam iste veritatis. Assumenda, voluptates eum! Voluptatum
        culpa eaque est.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, et.
        Quam culpa illo tempora quia consequuntur, provident rem, impedit,
        officia ullam iste veritatis. Assumenda, voluptates eum! Voluptatum
        culpa eaque est.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, et.
        Quam culpa illo tempora quia consequuntur, provident rem, impedit,
        officia ullam iste veritatis. Assumenda, voluptates eum! Voluptatum
        culpa eaque est.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
